---
import Section from "./Section.astro"
import Container from "./Container.astro"
import { Icon } from "astro-icon/components"
const TAGS = [
    {
        lang: "Next.js",
        icon: "Next",
    },
    {
        lang: "Tailwind CSS",
        icon: "Tailwind",
    },
    {
        lang: "React",
        icon: "React",
    },
    {
        lang: "JavaScript",
        icon: "JavaScript",
    },
    {
        lang: "HTML",
        icon: "HTML",
    },
    {
        lang: "CSS",
        icon: "CSS",
    },
    {
        lang: "TypeScript",
        icon: "TypeScript",
    },
    {
        lang: "MySQL",
        icon: "MYSQL",
    },
    {
        lang: "Java",
        icon: "Java",
    },
    {
        lang: "AWS",
        icon: "Amazon",
    },
    {
        lang: "Git",
        icon: "Git",
    },
    {
        lang: "Chakra UI",
        icon: "Chakra",
    },
    {
        lang: "Node.js",
        icon: "Node",
    },
    {
        lang: "Firebase",
        icon: "Firebase",
    },
    {
        lang: "Framer Motion",
        icon: "Framer",
        class: "bg-black text-brand-white"
    },
    {
        lang: "PlanetScale",
        icon: "PlanetScale",
        class: "bg-black text-brand-white"
    },
    {
        lang: "Prisma",
        icon: "Prisma",
        class: "bg-black text-brand-white"
    },
    {
        lang: "Svelte",
        icon: "Svelte",
    },
    {
        lang: "Vue",
        icon: "Vue",
    },{
        lang: "Astro",
        icon: "AstroIcon",
        class: "bg-black text-brand-white"
    },{
        lang: "Python",
        icon: "Python",
    },{
        lang: "Dart",
        icon: "Dart",
    },{
        lang: "Flutter",
        icon: "Flutter",
    }
]
const Titles = [
    {
        title: "Ingeniería de Sistemas",
        school: "Universidad Libre de Colombia",
        date: "2021 - Actualidad"
    },
    {
        title: "AWS Cloud Practitioner Certified",
        school: "Universidad de los Andes",
        date: "2021-2022"
    },
    {
        title: "Fundamentos de la programación",
        school: "Universidad de Pamplona",
        date: "2020-2021"
    },
    {
        title: "AWS Machine Learning Foundations",
        school: "Amazon Web Services",
        date: "2021"
    }
]
---

<Container id="estudios">
    <Section classes="flex-col">
        <h2 class="text-xl max-sm:text-lg">Estudios</h2>
        <article class="flex flex-wrap w-11/12 items-center gap-2 my-4 max-sm:my-2 self-center">
            {
                Titles.map((title) =>
                    (
                        <div class="bg-brand-white personal-shadow-sm py-2 px-4 rounded-xl w-max border-2 border-personal-black max-sm:flex-col ">
                            <h3 class="text-lg max-sm:text-base font-semibold">{title.title}</h3>
                            <h4 class="text-base max-sm:text-sm">{title.school}</h4>
                            <h5 class="text-sm max-sm:text-xs max-sm:hidden">{title.date}</h5>
                        </div>
                    )
                )
            }
        </article>
        <h2 class="text-xl max-sm:text-lg">Habilidades Tecnicas</h2>
        <article class="flex flex-row flex-wrap w-11/12 items-center md:justify-center gap-2 md:my-4 my-2 self-center max-md:w-full">
            {
                Object.values(TAGS).map((tag: { class?: string, icon: any, lang: string }) =>(
                    <div class={`flex flex-row items-center justify-center gap-2 rounded-xl p-2 text-black border-personal-black border-2 ${tag.class}`}>
                        <Icon name={tag.icon} class="size-7 max-md:size-4"/>
                        <h3 class="text-base max-md:text-sm">{tag.lang}</h3>
                    </div>
                ))
            }
    </Section>
</Container>